.mdl-layout-title {
  /*color: black;*/
}

.demo-card-wide.mdl-card {
  width: 512px;
  display: inline-block;

}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('images/timbers.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 315.5px;
  background: url('images/Anthony.jpeg') center / cover;
  display: inline-block;
}
/*.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}*/
/*.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}*/

footer {
  text-align: center;
}

/*img.center {
    display: block;
    margin: 0 auto;
}*/

.contact-icon {
  margin: auto;
}

.footer-copyright {
  text-align: center;
}

#background {
  max-width: 100%;
  width: 100%;
}

#github {
  max-width: 100%;
  width: 100%;
}

#linkedin {
  max-width: 100%;
  width: 30%
  /*padding-bottom: 15.5px;*/
}

#about {
  /*background-color: #ffecb3*/
  /*background-color: #1b5e20;*/
  margin: 0 auto;
  width: 512px;
}
